<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" [routerLink]="['/inicio']" routerLinkActive="active">Book</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href=""  [routerLink]="['/inicio']" routerLinkActive="active" >Inicio</a></li>
            <li><a href=""  [routerLink]="['/generos']" routerLinkActive="active">Generos</a></li>
            <li><a href=""  [routerLink]="['/autores']" routerLinkActive="active">Autores</a></li>
            <li><a href=""  [routerLink]="['/libros']" routerLinkActive="active">Libros</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        
        <router-outlet></router-outlet>

     </div>

    </div><!-- /.container -->