<div class="col-md-12">
    <h1>Libros</h1>
    <br><br>
    <div class="col-md-6 col-md-offset-3">
        <form #librosForm="ngForm" (submit)="OnSubmit()" novalidate>
            <h3>Formulario Libros</h3>
            <div class="form-group" *ngIf="editForm == true">
                <input type="text" class="form-control" placeholder="_id" name="_id" #_id="ngModel" [disabled]="true"  [(ngModel)]="libroModel._id" required>
                <span *ngIf="!_id.valid && _id.touched">El _id es requerido</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Codigo" name="codigo" #codigo="ngModel" [(ngModel)]="libroModel.codigo" required>
                <span *ngIf="!codigo.valid && codigo.touched">El codigo es requerido</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="libroModel.nombre" required>
                <span *ngIf="!nombre.valid && nombre.touched">El nombre es requerido</span>
            </div>
            <div class="form-group">
                <select class="form-control" name="autor" #autor="ngModel" [(ngModel)]="libroModel.autor" required>
                <option *ngFor="let item of autoresList" [value]="item._id">{{item.nombre}}</option>
            </select>
                <span *ngIf="!autor.valid && autor.touched">El autor es requerido</span>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="fecha_publicacion" #fecha_publicacion="ngModel" [(ngModel)]="libroModel.fecha_publicacion" required>
                <span *ngIf="!fecha_publicacion.valid && fecha_publicacion.touched">La fecha de publicacion es requerido</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Url de la imagen" name="url_imagen" #url_imagen="ngModel" [(ngModel)]="libroModel.url_imagen" required>
                <span *ngIf="!url_imagen.valid && url_imagen.touched">La imagen es requerido</span>
            </div>
            <div class="form-group">
                <textarea name="" id="" rows="4" class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="libroModel.descripcion" required></textarea>
                <span *ngIf="!descripcion.valid && descripcion.touched">La descripcion es requerido</span>
            </div>
            <div class="form-group">
                <select class="form-control" name="genero" #genero="ngModel" [(ngModel)]="libroModel.genero" required>
                <option *ngFor="let item of generosList" [value]="item._id">{{item.nombre}}</option>
            </select>
                <span *ngIf="!genero.valid && genero.touched">El genero es requerido</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!librosForm.valid">Agregar</button>
                <button type="button" class="btn btn-danger" (click)="cancelar()">cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Generos</th>
                    <th>Fecha publicacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of librosList">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.autor}}</td>
                    <td>{{item.genero}}</td>
                    <td>{{item.fecha_publicacion}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" [disabled]="libroModel._id == item._id" (click)="editar_libro(item)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button type="button" (click)="eliminar_libro(item._id)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
</div>