<div class="jumbotron">
    <h1>Bienvenido a Book!</h1>
    <p>Tu biblioteca ONLINE</p>
</div>

<br>
<br>

<h2>Mis libros </h2>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let item of librosList">
    <div class="thumbnail">
      <img [src]="item.url_imagen">
      <div class="caption">
        <h3>{{item.nombre}}</h3>
        <p>{{item.descripcion}}</p>
        <p>{{item.autor | json}}</p>
      </div>
    </div>
  </div>
</div>