<h1>Autores</h1>
<br><br>
<div class="col-md-6">
    <form #autoresForm="ngForm" (submit)="OnSubmit()" novalidate>
        
        <h3>Formulario autores</h3>
        <div class="form-group" *ngIf="editForm == true">
            <input type="text" class="form-control" placeholder="Identificacion" name="_id" #_id="ngModel" [disabled]="true"  [(ngModel)]="autoresModel._id" required>
            <span *ngIf="!_id.valid && _id.touched">El codigo es requerido</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Identificacion" name="codigo" #codigo="ngModel"  [(ngModel)]="autoresModel.codigo" required>
            <span *ngIf="!codigo.valid && codigo.touched">El codigo es requerido</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombres y apellidos" name="nombre" #nombre="ngModel"  [(ngModel)]="autoresModel.nombre" required>
            <span *ngIf="!nombre.valid && nombre.touched">El codigo es requerido</span>
        </div>
        <div class="form-group">
            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" name="fecha_nacimiento" name="fecha_nacimiento" #fecha_nacimiento="ngModel"  [(ngModel)]="autoresModel.fecha_nacimiento " required>
            <span *ngIf="!fecha_nacimiento.valid && fecha_nacimiento.touched">La fecha de nacimiento es requerido</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ciudad de origen" name="ciudad" #ciudad="ngModel"  [(ngModel)]="autoresModel.ciudad" required>
            <span *ngIf="!ciudad.valid && ciudad.touched">La ciudad es requerido</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Telefono de contacto" name="telefono" #telefono="ngModel"  [(ngModel)]="autoresModel.telefono" required>
            <span *ngIf="!telefono.valid && telefono.touched">El telefono es requerido</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!autoresForm.valid">Agregar</button>
            <button type="button" class="btn btn-danger" (click)="cancelar()">cancelar</button>
        </div>
    </form>
</div>
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Nombre</th> 
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of autoresList">
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.ciudad}}</td>
                <td>
                    <button [disabled]="autoresModel._id == item._id" type="button" (click)="editar_autor(item)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button type="button" (click)="eliminar_autor(item._id)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>