<h1>Generos</h1>
<br><br>
<div class="col-md-6">
    <form #categoriaForm="ngForm" (submit)="agregarCategoria()" novalidate>
        <h3>Formulario generos</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Codigo _id" name="_id" *ngIf="editForm" [disabled]="editForm" #codigo="ngModel"  [(ngModel)]="generoModel._id">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Codigo" name="codigo" #codigo="ngModel"  [(ngModel)]="generoModel.codigo" required>
            <em *ngIf="!codigo.valid && codigo.touched">Required</em>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre" name="nombre" #nombre="ngModel"  [(ngModel)]="generoModel.nombre" required>
            <em *ngIf="!nombre.valid && nombre.touched">Required</em>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" *ngIf="!editForm" [disabled]="!categoriaForm.valid">Guardar</button>
            <button type="submit" class="btn btn-primary" *ngIf="editForm" [disabled]="!categoriaForm.valid">Actualizar</button>
            <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of generosList">
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>
                    <button type="button" [disabled]="generoModel._id == item._id" (click)="editarGenero(item)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="eliminarGenero(item.codigo)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>